# =============== #
# Unity generated #
# =============== #
/Xcode/
/XcodeSimulator/
/Build/
/Temp/
/Library/
/Logs/
/obj/
/UnityGenerated/
.vs/
.idea

# ============= #
# IDE generated #
# ============= #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
